<%- include('header')%> <%- include('aside')%>

<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%= title %></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Tài liệu</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="box">
      <div class="box-body card card-primary">
        <div class="card">
          <div class="card-header"><%= title %></div>
          <div class="card-body">
            <form
              method="POST"
              action="/admin/setting/banner/add/"
              enctype="multipart/form-data"
            >
              <div class="card-body">
                <div class="form-group">
                  <label for="title">Tiêu đề</label>
                  <input
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="description">Mô tả</label>
                  <textarea
                    class="form-control noidung"
                    id="description"
                    name="description"
                  ></textarea>
                </div>
                <div class="form-group">
                  <label for="link_url">Đường dẫn khi click banner </label>
                  <input
                    type="text"
                    class="form-control"
                    id="link_url"
                    name="link_url"
                    required
                  />
                </div>

                <div class="form-group">
                  <label for="is_active">trạng thái</label>
                  <select
                    class="form-control"
                    id="is_active"
                    name="is_active"
                    required
                  >
                    <option value="1">Hiển thị</option>
                    <option value="0">Không hiển thị</option>
                  </select>
                </div>

                <div class="form-group">
                  <label for="display_order"> Thứ tự hiển thị</label>
                  <input
                    type="number"
                    class="form-control"
                    id="display_order"
                    name="display_order"
                  />
                </div>
                <div class="form-group">
                  <label>Hình ảnh banner</label><br />
                  <!-- Ảnh xem trước -->
                  <img
                    data-group="uploadImage"
                    data-role="preview"
                    src=" /dist/img/avatar4.png"
                    width="100%"
                    class="image_url"
                  />
                </div>

                <div class="form-group">
                  <!-- Tên ảnh -->
                  <p data-group="uploadImage" data-role="filename">
                    avatar4.png
                  </p>

                  <label for="avatar">Cập nhật ảnh đại diện</label>
                  <!-- Input ảnh từ máy -->
                  <input
                    type="file"
                    class="form-control"
                    id="image_url"
                    name="image_url"
                    accept="image/*"
                    data-group="uploadImage"
                    onchange="showImage(event, this)"
                  />

                  <!-- Nút chọn từ thư viện -->
                  <button
                    type="button"
                    class="btn btn-secondary mt-2"
                    data-group="uploadImage"
                    onclick="openImageModal(this)"
                  >
                    Chọn từ thư viện
                  </button>
                  <input
                    type="hidden"
                    name="selected_image"
                    data-group="uploadImage"
                    data-role="selectedInput"
                  />
                  <input
                    type="hidden"
                    name="old_thumbnail_url"
                    value="/dist/img/avatar4.png"
                  />
                </div>
                <div class="box-footer mt-3">
                  <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Cập nhật tài liệu
                  </button>
                  <a
                    href="/admin/setting/banner/danhsach"
                    class="btn btn-default float-right"
                  >
                    <i class="fa fa-reply"></i> Quay lại danh sách
                  </a>
                </div>
              </div>
            </form>
          </div>
          <div class="card-footer text-muted"></div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Modal -->

<%- include('modalimage')%> <%- include('footer')%>
