<%- include('header')%> <%- include('aside')%>

<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1><%= title %></h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
            <li class="breadcrumb-item active">Tài liệu</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="box">
      <div class="box-body">
        <form action="" method="GET" class="form-inline" role="form">
          <div class="form-group">
            <input
              class="form-control"
              name="search"
              placeholder="Tìm kiếm bài học"
              value="<%= search %>"
            />
          </div>

          <button type="submit" class="btn btn-primary">
            <i class="fa fa-search"></i> Tìm kiếm
          </button>
          <a href="/admin/baitap/add" class="btn btn-success pull-right">
            <i class="fa fa-plus"></i> Thêm bài tập
          </a>
        </form>
      </div>

      <div class="box-body">
        <table class="table table-bordered table-hover">
          <thead class="thead-light">
            <tr>
              <th>ID</th>
              <th>Bài học</th>
              <th>Tiêu đề</th>
              <th>Mô tả</th>
            </tr>
          </thead>
          <tbody>
            <% if (data && data.length > 0) { %> <%
            data.forEach(function(baitap) { %>
            <tr>
              <td><%= baitap.exercise_set_id %></td>
              <td>
                <%= (listbaihoc.find(baihoc => baihoc.lesson_id ===
                baitap.lesson_id) || {}).title || "Không rõ" %>
              </td>
              <td><%= baitap.title %></td>
              <td><%= baitap.description %> phút</td>

              <td>
                <a
                  href="/admin/baitap/edit/<%= baitap.exercise_set_id %>"
                  class="btn btn-sm btn-warning"
                >
                  <i class="fa fa-edit"></i> Sửa
                </a>
                <form
                  action="/admin/baitap/delete/<%= baitap.exercise_set_id %>"
                  method="POST"
                  style="display: inline-block"
                  onsubmit="return confirm('Bạn có chắc muốn xóa bài học này không?');"
                >
                  <button class="btn btn-sm btn-danger" type="submit">
                    <i class="fa fa-trash"></i> Xóa
                  </button>
                </form>
              </td>
            </tr>
            <% }) %> <% } else { %>
            <tr>
              <td colspan="7" class="text-center">Không có bài học nào.</td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>

      <div class="box-footer text-center">
        <ul class="pagination d-flex justify-content-center">
          <!-- Previous -->
          <li
            class="paginate_button page-item previous <%= Page === 1 ? 'disabled' : '' %>"
          >
            <a
              href="?page=<%= Page > 1 ? Page - 1 : 1 %><%= search ? '&search=' + search : '' %>"
              aria-controls="example2"
              data-dt-idx="0"
              tabindex="0"
              class="page-link"
              >Previous</a
            >
          </li>

          <!-- Page numbers -->
          <% for (let i = 1; i <= totalPage; i++) { %>
          <li
            class="paginate_button page-item <%= i === Page ? 'active' : '' %>"
          >
            <a
              href="?page=<%= i %><%= search ? '&search=' + search : '' %>"
              aria-controls="example2"
              data-dt-idx="<%= i %>"
              tabindex="0"
              class="page-link"
              ><%= i %></a
            >
          </li>
          <% } %>

          <!-- Next -->
          <li
            class="paginate_button page-item next <%= Page === totalPage ? 'disabled' : '' %>"
          >
            <a
              href="?page=<%= Page < totalPage ? Page + 1 : totalPage %><%= search ? '&search=' + search : '' %>"
              aria-controls="example2"
              data-dt-idx="<%= totalPage + 1 %>"
              tabindex="0"
              class="page-link"
              >Next</a
            >
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
<%- include('footer')%>
