<%- include('header')%> <%- include('aside')%>

<!-- =============================================== -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>quản lý khóa học</h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="box">
      <div class="box-body card card-primary">
        <div class="card">
          <div class="card-header"><%= title %></div>
          <div class="card-body">
            <form
            method="POST"
            action="/admin/admins/edit/<%= admin.admin_id %>"
            enctype="multipart/form-data"
          >
            <div class="card-body">
              <div class="form-group">
                <label for="username">Tên đăng nhập</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  value="<%= admin.username %>"
                  required
                />
              </div>
          
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  value="<%= admin.email %>"
                  required
                />
              </div>
              <div class="form-group">
                <label for="full_name">Họ và tên đầy đủ</label>
                <input
                  type="text"
                  class="form-control"
                  id="full_name"
                  name="full_name"
                  value="<%= admin.full_name %>"
                />
              </div>
          
              <div class="form-group">
                <label>Ảnh đại diện hiện tại</label><br />
                <img
                  id="currentImage"
                  src="<%= admin.avatar ? admin.avatar : '/dist/img/avatar4.png' %>"
                  width="150"
                  class="avatar"
                />
              </div>
          
              <div class="form-group">
                <label for="avatar">Cập nhật ảnh đại diện </label>
                <input
                  type="file"
                  class="form-control"
                  id="avatar"
                  name="avatar"
                  accept="image/*"
                  onchange="showImage(event)"
                />
              </div>
          
              <div class="form-group">
                <label for="status">Trạng thái tài khoản</label>
                <select
                  class="form-control"
                  id="status"
                  name="status"
                  required
                >
                  <option value="active" <%= admin.status === 'active' ? 'selected' : '' %>>Hoạt động</option>
                  <option value="inactive" <%= admin.status === 'suspended' ? 'selected' : '' %>>Tạm khóa</option>
                 
                </select>
              </div>
          
              <div class="form-group">
                <label for="role">Loại tài khoản</label>
                <select
                  class="form-control"
                  id="role"
                  name="role"
                  required
                >
                  <option value="super_admin" <%= admin.role === 'super_admin' ? 'selected' : '' %>>super_admin</option>
                  <option value="content_manager" <%= admin.role === 'content_manager' ? 'selected' : '' %>>content_manager</option>
                  <option value="support" <%= admin.role === 'support' ? 'selected' : '' %>>support</option>
                </select>
              </div>
              <div class="box-footer mt-3">
                <button type="submit" class="btn btn-success">
                  <i class="fa fa-save"></i> Cập nhật người dùng
                </button>
                <a href="/admin/admin/danhsach" class="btn btn-default float-right">
                  <i class="fa fa-reply"></i> Quay lại danh sách
                </a>
              </div>
            </div>
          </form>
          
          </div>
          <div class="card-footer text-muted"></div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include('footer')%>
